tools/console/_bmp_preview/
tools/opt_surgery/_b3_evidence/
tools/tests/_b3/
tools/console/__pycache__/
tools/console/bmp_out/
tools/console/card_backup/
tools/sd_prep/__pycache__/
tools/tests/*.log
tools/tests/*.out
tools/tests/scaler_out*.txt
tools/opt_surgery/reports_*/
tools/multires_demo/*.BMP
td_project*/
_cold_archive/
_refactor_backup/
minidump/
*.vvp
*.db
*.area
*.qor
*.bid
*.log
